.titleProduct{
    width: 50vw;
    text-align: center;
    margin: auto;
    background-color: blue;
    color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    transition: 0.4s all ease-out;
}
.titleProduct:hover{
    width: 70vw;
    background-color: rgb(94, 94, 255);
    cursor: pointer;
}